<h1>Answer the Sphinx riddles.</h1>

<form action="/output"  method="post">
  <div class="form-group">
    <label for="riddle1">What word becomes shorter when you add two letters to it.</label>
    <input id="r1" name="riddle1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="riddle2">What has 4 eyes but can’t see?</label>
    <input id="r2" name="riddle2" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="riddle3">What is so delicate that saying its name breaks it?</label>
    <input id="r3" name="riddle3" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="riddle4">If a blue house is made out of blue bricks, a yellow house is made out of yellow bricks and a pink house is made out of pink bricks, what is a green house made of?</label>
    <input id="r4" name="riddle4" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Submit</button>
</form>
